<header class="navbar navbar-fixed-top navbar-inverse fill-dark" id="top" role="banner">
    <div class="container">
        <div class="navbar-header pull-left">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#wd-navbar"
                    aria-controls="wd-navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand padding-top-ten" title="witzgo">
                <img src="/images/logo-title.png" height="30px" class="hidden-xs"/>
                <img src="/images/brand-only.png" height="30px" class="visible-xs-block"/>
            </a>
            </a>
        </div>

        <nav id="wp-navbar-offset" class="navbar-offset pull-right">
            <ul class="nav navbar-nav">
                <li class="search_wrapper">
                    <div class="search margin-top-eight hidden-xs" v-class="hidden-xs: !search_trigger">
                        <div class="search-box">
                            <input type="search" class="form-control search-control" placeholder="Search" v-el="searchInput" v-on="blur: searchUnTrigger" />
                            <i class="fa fa-search search-icon"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#0" class="visible-xs-block" v-if="!search_trigger" v-on="click: searchTrigger">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="#0" v-class="hidden: !search_trigger" v-on="click: searchUnTrigger">
                        <i class="fa fa-times"></i>
                    </a>
                </li>
                <li v-if="!logged && !search_trigger"><a href="/signin" class="nowrap"><i class="fa fa-sign-in"></i>
                    Sign In</a></li>
                <li v-if="logged && !search_trigger" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ logged_name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">Create Itinerary</a></li>
                        <li><a href="#">Post Destination</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" v-on="click: signout"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <nav id="wd-navbar" class="collapse navbar-collapse pull-sm-left">
            <ul class="nav navbar-nav">
                <li v-class="active: view == 'wall'"><a href="/wall" class="nowrap"><i class="fa fa-home"></i> Wall</a>
                </li>
                <li v-class="active: view == 'browse'" class="dropdown">
                    <a href="#" class="dropdown-toggle nowrap" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-star"></i> Browse <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li v-class="active: sub == 'groups'"><a href="/browse/groups"><i
                                class="fa fa-users"></i> &nbsp; Groups</a></li>
                        <li v-class="active: sub == 'itineraries'"><a href="/browse/itineraries"><i
                                class="fa fa-list-alt"></i> &nbsp; Itineraries</a></li>
                        <li v-class="active: sub == 'destinations'"><a href="/browse/destinations"><i
                                class="fa fa-globe"></i> &nbsp; Destinations</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</header>


<!--<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="text-center" v-class="col-sm-2: withNav" v-class="col-sm-12: !withNav">
            <div class="row">

                <a href="/" title="witzgo">
                    <img class="margin-top-ten" src="/images/logo-title.png" height="30px"/>
                </a>
                <a href="#" v-if="withNav" class="navbar-toggle collapsed pull-left" data-toggle="collapse"
                   data-target="#witzgo-links"
                   aria-expanded="false" aria-haspopup="true">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-right"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-10" v-if="withNav">
            <ul id="witzgo-links" class="nav navbar-nav collapse navbar-collapse">
                &lt;!&ndash;                    <li>
                                        <div class="visible-xs hidden-sm hidden-md hidden-lg margin-top-ten">
                                            <div class="search-box">
                                                <input type="search" class="form-control search-control" placeholder="Search" />
                                                <i class="fa fa-search search-icon"></i>
                                            </div>
                                        </div>
                                    </li>&ndash;&gt;
                <li v-class="active: view == 'wall'"><a href="/wall" class="nowrap"><i class="fa fa-home"></i> Wall</a>
                </li>
                <li v-class="active: view == 'browse'" class="dropdown">
                    <a href="#" class="dropdown-toggle nowrap" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-star"></i> Browse<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li v-class="active: sub == 'groups'"><a href="/browse/groups"><i
                                class="fa fa-users"></i> &nbsp; Groups</a></li>
                        <li v-class="active: sub == 'itineraries'"><a href="/browse/itineraries"><i
                                class="fa fa-list-alt"></i> &nbsp; Itineraries</a></li>
                        <li v-class="active: sub == 'destinations'"><a href="/browse/destinations"><i
                                class="fa fa-globe"></i> &nbsp; Destinations</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="hidden-xs visible-sm visible-md visible-lg margin-top-eight search">
                        <div class="search-box">
                            <input type="search" class="form-control search-control" placeholder="Search"/>
                            <i class="fa fa-search search-icon"></i>
                        </div>
                    </div>
                </li>
                <li v-if="!logged"><a href="/signin" class="nowrap"><i class="fa fa-sign-in"></i> Sign In</a></li>
                <li v-if="logged" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ logged_name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">Create Itinerary</a></li>
                        <li><a href="#">Post Destination</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" v-on="click: signout"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>-->
