<!-- LOGIN FORM -->
<div class="text-center" style="padding:50px 0">
    <!-- Main Form -->
    <div class="row auth-form-wrapper">
        <div class="auth-title"><i class="fa fa-user-plus"></i> Sign Up</div>
        <hr/>

        <div class="col-md-6">

            <form id="login-form" class="text-left">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="first name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="last name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="confirm password">
                        </div>
                        <div class="form-group login-group-checkbox">
                            <input type="radio" class="" name="reg_gender" id="male" placeholder="username">
                            <label for="male">male</label>
                            <input type="radio" class="" name="reg_gender" id="female" placeholder="username">
                            <label for="female">female</label>
                        </div>

                        <div class="form-group login-group-checkbox">
                            <input type="checkbox" class="" id="reg_agree" name="reg_agree">
                            <label for="reg_agree">i agree the <a href="#">terms</a></label>
                        </div>
                    </div>
                    <button type="submit" class="login-button"><i class="fa fa-user-plus"></i></button>
                </div>
                <div class="etc-login-form font-twelve">
                    <p class="nowrap">already have an account? <a href="#/signin">sign in</a></p>
                </div>
            </form>
        </div>
        <div class="col-md-6">

            <p>or</p>

            <a class="btn btn-block btn-social btn-facebook social">
                <i class="fa fa-facebook"></i> Sign in with Facebook
            </a>
            <a class="btn btn-block btn-social btn-google social">
                <i class="fa fa-google-plus"></i> Sign in with Google
            </a>
            <a class="btn btn-block btn-social btn-twitter social">
                <i class="fa fa-twitter"></i> Sign in with Twitter
            </a>
        </div>
    </div>
    <!-- end:Main Form -->
</div>