<div class="auth-form-wrapper">
    <div class="auth-title"><i class="fa fa-pencil"></i> Sign Up</div>
    <hr/>
    <div class="row">

        <div class="col-md-6 login-group text-left">

            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="first name" required autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="last name" required>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" class="form-control" placeholder="email" required>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" placeholder="password" required>
                </div>
                <div class="form-group login-group-checkbox">
                    <input type="radio" class="" name="reg_gender" id="male" placeholder="username">
                    <label for="male">male</label>
                    <input type="radio" class="" name="reg_gender" id="female" placeholder="username">
                    <label for="female">female</label>
                </div>
                <div class="margin-ten-zero">
                    <button type="button" class="btn btn-block btn-social btn-success margin-five-zero">
                        <i class="fa fa-pencil"></i> Sign Up
                    </button>
                </div>
                <div class="etc-login-form">
                    <p class="nowrap">already have an account? <a href="/signin">sign in</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 login-group">

            <p class="font-eighteen bold text-center">or</p>

            <div>
                <button type="button" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Sign in with Facebook
                </button>
            </div>
            <div class="margin-fifty-zero">
                <p>By clicking "Sign Up" or "Sign In with Facebok" I acknowlege and agree to the <a
                        href="/terms">Terms of Use</a> and <a href="/privacy-policy">Privacy Policy</a>.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- end:Main Form -->
