// vertical
.margin-top-fifty {
    margin-top: 50px;
}

.margin-bottom-fifty {
    margin-bottom: 50px;
}

.margin-top-thirty {
    margin-top: 30px;
}

.margin-bottom-thirty {
    margin-bottom: 30px;
}

.margin-top-twenty {
    margin-top: 20px;
}

.margin-bottom-twenty {
    margin-bottom: 20px;
}

.margin-top-fifteen {
    margin-top: 15px;
}

.margin-bottom-fifteen {
    margin-bottom: 15px;
}

.margin-top-ten {
    margin-top: 10px;
}

.margin-bottom-ten {
    margin-bottom: 10px;
}

.margin-top-eight {
    margin-top: 8px;
}

.margin-bottom-eight {
    margin-bottom: 8px;
}

.margin-top-five {
    margin-top: 5px;
}

.margin-bottom-five {
    margin-bottom: 5px;
}

// horizontal
.margin-left-fifty {
    margin-left: 50px;
}

.margin-right-fifty {
    margin-right: 50px;
}

.margin-left-thirty {
    margin-left: 30px;
}

.margin-right-thirty {
    margin-right: 30px;
}

.margin-left-twenty {
    margin-left: 20px;
}

.margin-right-twenty {
    margin-right: 20px;
}

.margin-left-fifteen {
    margin-left: 15px;
}

.margin-right-fifteen {
    margin-bottom: 15px;
}

.margin-left-ten {
    margin-left: 10px;
}

.margin-right-ten {
    margin-right: 10px;
}

.margin-left-five {
    margin-left: 5px;
}

.margin-right-five {
    margin-right: 5px;
}
