// vertical
.padding-top-fifty {
    padding-top: 50px;
}

.padding-bottom-fifty {
    padding-bottom: 50px;
}

.padding-top-thirty {
    padding-top: 30px;
}

.padding-bottom-thirty {
    padding-bottom: 30px;
}

.padding-top-twenty {
    padding-top: 20px;
}

.padding-bottom-twenty {
    padding-bottom: 20px;
}

.padding-top-fifteen {
    padding-top: 15px;
}

.padding-bottom-fifteen {
    padding-bottom: 15px;
}

.padding-top-ten {
    padding-top: 10px;
}

.padding-bottom-ten {
    padding-bottom: 10px;
}

.padding-top-five {
    padding-top: 5px;
}

.padding-bottom-five {
    padding-bottom: 5px;
}

// horizontal
.padding-left-fifty {
    padding-left: 50px;
}

.padding-right-fifty {
    padding-right: 50px;
}

.padding-left-thirty {
    padding-left: 30px;
}

.padding-right-thirty {
    padding-right: 30px;
}

.padding-left-twenty {
    padding-left: 20px;
}

.padding-right-twenty {
    padding-right: 20px;
}

.padding-left-fifteen {
    padding-left: 15px;
}

.padding-right-fifteen {
    padding-bottom: 15px;
}

.padding-left-ten {
    padding-left: 10px;
}

.padding-right-ten {
    padding-right: 10px;
}

.padding-left-five {
    padding-left: 5px;
}

.padding-right-five {
    padding-right: 5px;
}
