/**
 * Swatches
 */
$light_green:#D9FAD9;
$emerald: #2ecc71;
$nephritis: #27ae60;
$pumpkin: #d35400;
$river: #3498db;
$belize: #2980b9;
$asphalt: #34495e;
$silver: #bdc3c7;
$clouds: #ecf0f1;
$white: #ffffff;
$midnight: #2c3e50;
$asbestos: #7f8c8d;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$sun: #f1c40f;
$orange: #f39c12;
$dark_emerald: #2CBF6A;

$inverse_background: $emerald;
$primary: $river;
$primary-hover: rgba($primary, 0.90);
$primary-active: $belize;

$complete: $asphalt;
$complete-hover: rgba($complete, 0.90);
$complete-active: $midnight;

$success: $emerald;
$success-hover: rgba($nephritis, 0.90);
$success-active: $nephritis;

$danger: $alizarin;
$danger-hover: rgba($pomegranate, 0.90);
$danger-active: $pomegranate;

$warning: $sun;
$warning-hover: rgba($orange, 0.90);
$warning-active: $orange;

$text: $asbestos;
$placeholder: $asbestos;
$border: rgba($nephritis, 0.09);
$border-dark: $asphalt;
$border-light: $silver;
$dark: $asphalt;

/**
 * Media Query Break Points
 */

$screen-xs: 270px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xlg: 1400px;

/**
 * Fonts
 */
$text-twenty: 20px;
$text-eighten: 18px;
$text-sixteen: 16px;
$text-fourteen: 14px;
$text-twelve: 12px;
$font-comforta: Comfortaa, sans-serif;