// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$icon-font-path: "/fonts/bootstrap/";
$fa-font-path: "/fonts/fontawesome";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-social";
@import "variables";
@import "margins";
@import "paddings";
@import "mixins";

body {
    background: $white;
    padding-top: 100px;
    font-family: $font-comforta;
    background: none;
    color: $text;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $border-light;
    margin: 1em 0;
    padding: 0;
}

.search-box {
    width: 100%;
    position: relative;
}

.search-control {
    transition: all ease-in-out 500ms;
    outline: 0;
    border: 0;
    background-color: $nephritis;
    padding-left: 30px;
    color: $clouds;

    &:hover {
        background-color: $dark_emerald;
        color: $clouds;
    }

    @include placeholder {
        color: $emerald;
    }

    &:focus {
        border: none;
        background-color: $white;
        color: $text;

        @include placeholder {
            color: $silver;
        }

        & + .search-icon {
            color: $text;
        }
    }
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    color: $emerald;
}

.no-float {
    float: none !important;
}

.navbar-inverse {
    border: none;
    background: $inverse_background;

    .navbar-offset {
        .navbar-nav {
            margin: 0;

            & > li {
                float: left;
            }
        }
    }

    .navbar-collapse,
    .navbar-form {
        @media screen and (max-width: $screen-sm - 1) {
            clear: both;
            overflow: hidden;
        }
        border-color: $border;
    }
    .navbar-nav {

        & > li {
            margin: 0 5px;

            a {
                font: $font-comforta;
                color: $clouds;
                transition: all ease-in-out 500ms;
                &:hover {
                    color: $white;
                }
            }
        }

        .active {
            & > a {
                color: $white;
                background: none;
                font-weight: bolder;

                &:focus,
                &:hover {
                    color: $light_green;
                    background: none;
                }
            }
        }

        .open {
            & > a,
            & > a:hover,
            & > a:focus {
                background: none;
                color: $light_green;
            }
        }
    }

    .navbar-toggle {
        border: 0 !important;
        float: left;
        margin-right: 0;
        margin-left: 15px;
        border-radius: 0;

        &:hover,
        &:focus {
            background: transparent !important;
        }

        .icon-bar {
            background-color: $white;

            &:first-of-type {
                width: 18px;
            }

            &:nth-of-type(2) {
                width: 12px;
            }

            &:last-of-type {
                width: 20px;
            }
        }

    }
}

.nav > li > a {
    padding: 15px 10px;
}

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    // Primary Button
    transition: all ease-in-out 500ms;
    border-radius: 3px;
    &.btn-default {

        &:hover,
        &:focus {
            background-color: #fefefe;
            border: 1px solid rgba($dark, 0.2);
        }

        &:active {
            @include box-shadow(0, 0, 0);
        }
    }

    // Primary Button
    &.btn-primary {
        background-color: $primary;
        color: $white;

        &:hover {
            background-color: $primary-hover;
        }

        &:active {
            background-color: $primary-active;
        }
    }

    // Success Button
    &.btn-success {
        background-color: $success;
        color: $white;

        &:hover {
            background-color: $success-hover;
        }

        &:active {
            background-color: $success-active;
        }
    }

    // Complete Button
    &.btn-complete {
        background-color: $complete;
        color: $white;

        &:hover {
            background-color: $complete-hover;
        }

        &:active {
            background-color: $complete-active;
        }
    }

    // Warning Button
    &.btn-warning {
        background-color: $warning;
        color: $white;

        &:hover {
            background-color: $warning-hover;
        }

        &:active {
            background-color: $warning-active;
        }
    }

    // Danger Button
    &.btn-danger {
        background-color: $danger;
        color: $white;

        &:hover {
            background-color: $danger-hover;
        }

        &:active {
            background-color: $danger-active;
        }
    }

    &.btn-dark {
        background-color: $danger;
        color: $white;

        &:hover {
            background-color: $danger-hover;
        }

        &:active {
            background-color: $danger-active;
        }
    }
}

.dropdown-menu {
    background: $emerald;
    border: none;
    border-radius: 0;
    & > li {
        & > a {
            color: $white;
            &:hover {
                background: none;
                font-weight: bolder;
                color: $clouds;
            }
        }
        &.active > a {
            background: $dark_emerald !important;
            color: $clouds;

            &:hover,
            &:focus {
                color: $light_green;
                font-weight: bolder;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .navbar-inverse {
        .navbar-nav {
            .open {
                .dropdown-menu {
                    & > li {
                        & > a {
                            color: $clouds;
                        }

                        &.active {
                            & > a {
                                &:hover,
                                &:focus {
                                    background: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.nowrap {
    white-space: nowrap;
}

.font-twelve {
    font-size: $text-twelve;
}

.font-fourteen {
    font-size: $text-fourteen;
}

.font-sixteen {
    font-size: $text-sixteen;
}

.font-eighteen {
    font-size: $text-eighten;
}

.font-twenty {
    font-size: $text-twenty;
}

.bold {
    font-weight: bold;
}

.border {
    border: 1px solid red;
}

ul.alert {
    list-style: none;
}

/** Auth Forms **/
.social {
    min-width: 205px;
}

.form-wrapper {
    max-width: 700px;
    margin: 0 auto;

    .auth-title {
        padding: 15px 0;
        font-size: 30px;
        color: $text;
    }
    .etc-login-form {
        color: $text;
        padding: 10px 0;

        & > p {
            margin-bottom: 5px;
        }

    }
    .form-control {
        border: 0;
        box-shadow: 0 0 0;
        border-radius: 0;
        background: transparent;
        color: $text;
        padding: 7px 0;
        font-weight: bold;
        height: auto;
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
            color: $placeholder;
        }
    }

    .form-group,
    .input-group {
        margin-bottom: 0;
        border-bottom: 1px solid $silver;

        .input-group-addon {
            color: $text;
            border: 0;
            background: none;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
    .login-group-checkbox {
        padding: 5px 0 5px 12px;
    }

}

@media(min-width: 970px) {
    .social {
        margin-left: 10px;
    }
}

@media screen and (min-width: $screen-xlg) {
    .search {
        min-width: 520px;
    }
}

@media screen and (min-width: $screen-lg) and (max-width: $screen-xlg - 1) {
    .search {
        min-width: 500px;
    }
}

@media screen and (min-width: $screen-md) and (max-width: $screen-lg - 1) {
    .search {
        min-width: 380px;
    }
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-md - 1) {
    .search {
        width: 190px;
    }
}

