// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$icon-font-path: "/fonts/bootstrap/";
$fa-font-path: "/fonts/fontawesome";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-social";
@import "variables";

body {
  background: $white;
  padding-top: 100px;
  font-family: Comfortaa, Lato, Tahoma, Verdana;
  background: none;
  //background: url(../images/poster.jpg) no-repeat;
  //background-size: cover;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

@media screen and (min-width: 1400px) {
  .search {
    min-width: 520px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .search {
    min-width: 500px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .search {
    min-width: 380px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .search {
    width: 190px;
  }
}

.search-box {
  width: 100%;
  position: relative;
}

.search-control {
  transition: all ease-in-out 500ms;
  outline: 0;
  border: 0;
  background-color: #B6F2B6;
  padding-left: 30px;
  color: $background;

  //@include placeholder {
  //  color: rgba($white, 0.6);
  //}

  &:hover {
    background-color: #D9FAD9;
  }

  &:focus {
    border: none;
    background-color: $white;
    color: #333C40;

    @include placeholder {
      color: $text;
    }

    & + .search-icon {
      color: $text;
    }
  }
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  color: $background;
}

.no-float {
  float: none !important;
}

.navbar-brand {
  padding: 0 !important;
}

.navbar-inverse {
  border: none;
  background: $background; //rgba(white, 0.9);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form{
  border-color:$selected;
}

.navbar-inverse .navbar-nav > li {
  margin: 0 5px;
}

.navbar-inverse .navbar-nav > li > a {
  color: $inverse_link_color;
  transition: all ease-in-out 500ms;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: $inverse_link_color_hover;
}

.navbar-inverse .navbar-nav > .active > a {
  color: $white;
  background: none;
}

.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: $inverse_link_color_hover;
  background: none;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background: none !important;
  color: $inverse_link_color_hover;
}

.nav > li > a {
  padding: 15px 10px;
}

.navbar-inverse .navbar-toggle {
  border: none;
  color: $white;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus{
  background: none;
  color: $inverse_link_color_hover;
}

.btn-success {
  background: $success;
  border: 1px solid #0DB568;
}

.btn-success:focus,
.btn-success:hover {
  background: $success-hover;
  border: 1px solid #0DB568;
}

.dropdown-menu {
  background: $background;
  border: none;
  border-radius: 0;
}

.dropdown-menu > li > a {
  color: $inverse_link_color;
}

.dropdown-menu > li > a:hover {
  background: none;
  font-weight: bold;
  color: $inverse_link_color_hover;
}

.dropdown-menu > .active > a {
  background: $selected;
}

.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: $selected;
  color: $selected_hover;
}

@media screen and (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    background: $selected;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
    color: $inverse_link_color;
  }
}

.nowrap {
  white-space: nowrap;
}

.font-twelve {
  font-size: 12px;
}

.font-sixteen {
  font-size: 16px;
}

.font-eighteen {
  font-size: 18px;
}

.font-twenty {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.border {
  border: 1px solid red;
}

.margin-fifty-zero {
  margin: 50px 0;
}

.margin-ten-zero {
  margin: 10px 0;
}

.margin-left-ten {
  margin-left: 10px;
}

.margin-left-five {
  margin-left: 5px;
}

.margin-right-five {
  margin-right: 5px;
}

.margin-left-ten {
  margin-left: 10px;
}

.margin-right-ten {
  margin-right: 10px;
}

.margin-left-fifteen {
  margin-left: 15px;
}

.margin-right-fifteen {
  margin-right: 15px;
}

.margin-top-five-zero {
  margin: 5px 0 0 0;
}

.margin-top-eight-zero {
  margin: 8px 0 0 0;
}

.margin-five-zero {
  margin: 5px 0;
}

.padding-ten {
  padding: 10px;
}

.padding-ten-thirty {
  padding: 10px 30px;
}

.margin-eight-zero {
  margin: 8px 0;
}

.margin-ten-zero {
  margin: 10px 0;
}

ul.alert {
  list-style: none;
}

/** Auth Forms **/
.social {
  min-width: 205px;
}

.auth-title {
  padding: 15px 0;
  font-size: 30px;
  color: #999999;
  font-family: Comfortaa, Lato, Tahoma, Verdana;
}

/*=== 3. Text Outside the Box ===*/
.auth-form-wrapper .etc-login-form {
  color: #919191;
  padding: 10px 0;
}

.auth-form-wrapper .etc-login-form p {
  margin-bottom: 5px;
}

/*=== 4. Main Form ===*/
.auth-form-wrapper {
  max-width: 700px;
  //border-radius: 5px;
  //background: rgba(white, 0.9);

  //border: 1px solid #e7e7e7;
  //padding: 20px;
  margin: 0 auto;
}

.auth-form-wrapper .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height: auto;
}

.auth-form-wrapper .form-control::-webkit-input-placeholder {
  color: #999999;
}

.auth-form-wrapper .form-control:-moz-placeholder,
.auth-form-wrapper .form-control::-moz-placeholder,
.auth-form-wrapper .form-control:-ms-input-placeholder {
  color: #999999;
}

.auth-form-wrapper .form-group,
.auth-form-wrapper .input-group {
  margin-bottom: 0;
  border-bottom: 1px solid #bbbbbb;
}

.auth-form-wrapper .input-group-addon {
  color: #999999;
  border: 0;
  background: none;
}

.auth-form-wrapper .form-group:last-child,
.auth-form-wrapper .input-group:last-child {
  border-bottom: 0;
}

.login-group {
  color: #999999;
  min-width: 250px;
}

.login-group-checkbox {
  padding: 5px 0 5px 12px;
}

/*=== 5. Login Button ===*/
.auth-form-wrapper button {
  color: $white;
  transition: all ease-in-out 500ms;
}

.auth-form-wrapper button:hover {
  color: #999999;
}

.auth-form-wrapper button.clicked {
  color: #999999;
}

.auth-form-wrapper button.clicked:hover {
  transform: none;
}

.auth-form-wrapper button.clicked.success {
  color: #2ecc71;
}

.auth-form-wrapper button.clicked.error {
  color: #e74c3c;
}

@media(min-width: 970px) {

  .social {
    margin-left: 10px;
  }
}
